
body[data-appearance="midnight"] {
    --border-color:rgb(255, 255, 255, .2);
    --header-background: #181818;
    --text-color: #FFF;
    --secondary-color: dodgerblue;
    background: #121212;
}

html {
    cursor: url(https://spng.pngfind.com/pngs/s/102-1027597_middle-finger-cursor-png-transparent-png.png), default;
}
